<div>Correo: <%= best_in_place_if current_user == @user, @user, :email %></div>
<div>Username: <%= best_in_place_if current_user == @user,@user, :username %></div>
<div>Cantidad de lecciones creadas: <%= @cantidad_lecciones %></div>
<%= image_tag @slide.image1.url(:medium) %>