// Place all the styles related to the Lessons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-Diapositivas {
	height: 450px;
	width: 75%;
	background: white;
	padding: 10px;
	border:solid 3px #ccc;
  	border-radius:5px;
}

.texto-Diapositivas {
	font-family: 'Roboto';
  	font-size: 18px;
}

.imagen-Diapositivas {
	margin: 0 auto;
	width: 20%;
	height: 40px !important;
}

.cuadrado {
  width:25vh;
  max-width:100px;
  height:25vh;
  max-height:100px;
  position:relative;
  background:red;
}