// Place all the styles related to the Lessons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-Diapositivas {
	height: 70%;
	width: 75%;
	background: white;
	padding: 10px;
	border:solid 3px #ccc;
  	border-radius:5px;
}

.texto-Diapositivas {
	font-family: 'Roboto';
  	font-size: 18px;
}

.imagen-Diapositivas {
	margin: 0 auto;
	width: 40%;
}