
<h2 align="center">Creación de Lección</h2>

<%= render 'form', lesson: @lesson %>

<div class="col-sm-offset-2 col-sm-10">
      <%= button_to 'Volver', "/data_lessons/all", class:"btn" , method: :get %>
</div>


