<% if signed_in? %>
	<h2 align="center">Creaci贸n de Lecci贸n</h2>

	<%= render 'form', lesson: @lesson %>

	<div class="col-sm-offset-2 col-sm-10">
        <%= button_to 'Volver', lessons_path, class:"btn" , method: :get %>
    </div>

<% else %>
    <div class="alert alert-danger panel-ancho">
      <h4>Error!</h4>
      <p>Necesita iniciar sesi贸n para acceder a esta direcci贸n.</p>
    </div>
<% end %>